.systemMonitorContainer {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .statsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .statBox {
    flex: 1 1 calc(50% - 20px);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    margin: 5px 0;
  }
  